/*----------------------------------
  Services v2
------------------------------------*/

.s-services-v2__lines {
	@include media-breakpoint-up(md) {
		@include position(relative);
	  display: block;
		z-index: 1;
		margin: 0 auto;

		@include before-after {
			@include position(absolute, $top: 50%, $left: 0, $right: 0);
			z-index: -1;
			display: block;
			border: .125rem solid;
			border-color: rgba($color-gold, .2);
			content: " ";
			margin: 0 auto;
		}

		@include before {
			@include size(18.75rem);
			border-radius: 50%;
			margin-top: -9.375rem;
		}

		@include after {
			@include size(15.625rem);
			@include rotate(-45deg);
			margin-top: -7.8125rem;
		}
	}
}