<div id="js__page-loader" class="center-block s-page-loader-v1 g-text-center">
  <div id="js__page-loader__content">
    <div class="g-text-center g-ver-center">
      <div class="g-overflow--hidden">
        <div class="s-page-loader-v1__element">
          <span class="s-page-loader-v1__loading g-font-size-32 g-color--white g-letter-spacing--3">Loading</span>
          <span class="s-page-loader-v1__loading-pulse-1"></span>
          <span class="s-page-loader-v1__loading-pulse-2"></span>
          <span class="s-page-loader-v1__loading-pulse-3"></span>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="g-bg-color--primary">
  <div class="g-container--md g-padding-y-100 g-padding-y-150--sm">
    <div class="g-text-center g-margin-t-80 g-margin-t-30--sm">
      <h1 class="g-font-size-50 g-font-size-70--md g-font-weight--700 g-color--yellow g-margin-b-0">Lineup</h1>
    </div>
  </div>
</section>
<div class="g-bg-color--sky-light">
      <div class="container g-padding-y-80 g-padding-y-100--sm">
        <!-- Team -->
        <div class="row g-row-col--10 g-margin-b-130">
          <div class="col-md-3 col-xs-6 g-full-width g-margin-b-20 g-margin-b-0--lg">
            <img class="img-responsive g-width-100-percent" src="/img/hara.jpeg" alt="Image">
            <div class="g-bg-color--white g-padding-x-25 g-padding-y-20">
              <h2 class="g-font-size-18 g-margin-b-0">Haroula (Salsa y Sueno)</h2>
              <p class="g-font-size-14 g-margin-b-0">Greece</p>
            </div>
          </div>
          <div class="col-md-3 col-xs-6 g-full-width g-margin-b-20 g-margin-b-0--lg">
            <div class="g-box-shadow__dark-1-lightest-v2">
              <img class="img-responsive g-width-100-percent" src="/img/antonis.jpeg" alt="Image">
              <div class="g-bg-color--white g-padding-x-25 g-padding-y-20">
                <h3 class="g-font-size-18 g-margin-b-0">Antonis (Salsa y Sueno)</h3>
                <p class="g-font-size-14 g-margin-b-0">Greece</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-xs-6 g-full-width g-margin-b-20 g-margin-b-0--md">
            <div class="g-box-shadow__dark-1-lightest-v2">
              <img class="img-responsive g-width-100-percent" src="/img/lamya.jpeg" alt="Image">
              <div class="g-bg-color--white g-padding-x-25 g-padding-y-20">
                <h4 class="g-font-size-18 g-margin-b-0">LAMYA</h4>
                <p class="g-font-size-14 g-margin-b-0">FRANCE</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-xs-6 g-full-width">
            <img class="img-responsive g-width-100-percent" src="/img/Marcel_Edith.jpg" alt="Image">
            <div class="g-bg-color--white g-padding-x-25 g-padding-y-20">
              <h4 class="g-font-size-18 g-margin-b-0">Marcel & Edith</h4>
              <p class="g-font-size-14 g-margin-b-0">Switzerland</p>
            </div>
          </div>
        </div>
        <!-- End Team -->
        <div class="col-md-3 col-xs-6 g-full-width g-margin-b-20 g-margin-b-0--lg">
          <img class="img-responsive g-width-100-percent" src="/img/pauline.jpeg" alt="Image">
          <div class="g-bg-color--white g-padding-x-25 g-padding-y-20">
            <h2 class="g-font-size-18 g-margin-b-0">Pauline</h2>
            <p class="g-font-size-14 g-margin-b-0">France</p>
          </div>
        </div>
        <div class="col-md-3 col-xs-6 g-full-width g-margin-b-20 g-margin-b-0--lg">
          <div class="g-box-shadow__dark-1-lightest-v2">
            <img class="img-responsive g-width-100-percent" src="/img/Jhonk.jpeg" alt="Image">
            <div class="g-bg-color--white g-padding-x-25 g-padding-y-20">
              <h3 class="g-font-size-18 g-margin-b-0">John</h3>
              <p class="g-font-size-14 g-margin-b-0">France</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-xs-6 g-full-width g-margin-b-20 g-margin-b-0--md">
          <div class="g-box-shadow__dark-1-lightest-v2">
            <img class="img-responsive g-width-100-percent" src="/img/folly.jpeg" alt="Image">
            <div class="g-bg-color--white g-padding-x-25 g-padding-y-20">
              <h4 class="g-font-size-18 g-margin-b-0">DJ FOLLY</h4>
              <p class="g-font-size-14 g-margin-b-0">LUXEMBOURG</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-xs-6 g-full-width g-margin-b-20 g-margin-b-0--md">
          <div class="g-box-shadow__dark-1-lightest-v2">
            <img class="img-responsive g-width-100-percent" src="/img/folivi.jpeg" alt="Image">
            <div class="g-bg-color--white g-padding-x-25 g-padding-y-20">
              <h4 class="g-font-size-18 g-margin-b-0">DJ FOLIVI</h4>
              <p class="g-font-size-14 g-margin-b-0">LUXEMBOURG</p>
            </div>
          </div>
        </div>
      </div>
    </div>
