<section class="g-bg-color--primary">
  <div class="g-container--md g-padding-y-100 g-padding-y-150--sm">
    <div class="g-text-center g-margin-t-80 g-margin-t-30--sm">
      <h1 class="g-font-size-50 g-font-size-70--md g-font-weight--700 g-color--yellow g-margin-b-0">Payment result</h1>
    </div>
  </div>
</section>
