<div id="js__page-loader" class="center-block s-page-loader-v1 g-text-center">
  <div id="js__page-loader__content">
    <div class="g-text-center g-ver-center">
      <div class="g-overflow--hidden">
        <div class="s-page-loader-v1__element">
          <span class="s-page-loader-v1__loading g-font-size-32 g-color--white g-letter-spacing--3">Loading</span>
          <span class="s-page-loader-v1__loading-pulse-1"></span>
          <span class="s-page-loader-v1__loading-pulse-2"></span>
          <span class="s-page-loader-v1__loading-pulse-3"></span>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="g-bg-color--primary">
  <div class="g-container--md g-padding-y-100 g-padding-y-150--sm">
    <div class="g-text-center g-margin-t-80 g-margin-t-30--sm">
      <h1 class="g-font-size-50 g-font-size-70--md g-font-weight--700 g-color--yellow g-margin-b-0">Partners</h1>
    </div>
  </div>
</section>
