/*----------------------------------
  Header v3
------------------------------------*/

/* Navbar
------------------------------ */
.s-header-v3__navbar {
  @include position(relative);
  z-index: $zindex-navbar;
  min-height: 3.125rem;
  background: $color-white;
  @include clearfix;
  @include cubic-transition($delay: 0, $duration: 300ms, $property: (all));

  @include media-breakpoint-down(md) {
  	background: $color-white;
    box-shadow: 0 0 .9375rem .25rem rgba($color-dark-1, .05);
  }
}

/* Container
------------------------------ */
.s-header-3__container {
	width: 100%;
	margin-left: auto;
  margin-right: auto;
	@include clearfix;

	@include media-breakpoint-down(md) {
		padding-left: .9375rem;
	  padding-right: .9375rem;
	}
	
	@include media-breakpoint-up(lg) {
		display: table;
	  padding-left: 2.5rem;
	  padding-right: 2.5rem;
	}
}

/* Navbar Row
------------------------------ */
.s-header-v3__navbar-row {
  display: table-row;
  clear: both;

  @include media-breakpoint-down(md) {
    display: inherit;
  }
}

/* Columns */
.s-header-v3__navbar-col {
  display: table-cell;
  vertical-align: middle;

  @include media-breakpoint-down(md) {
    display: block;
  }
}

/* Space */
.s-header-v3__navbar-col-width--180 {
  width: 11.250rem;

  @include media-breakpoint-down(md) {
    width: auto;
  }
}

/* Variations */
.s-header-v3__navbar-col {
	&--left {
    @include media-breakpoint-up(lg) {
      float: left;

      .dropdown__mega-menu {
        right: auto;
        left: 10rem;
      }
    }
  }

  &--right {
    @include media-breakpoint-up(lg) {
      float: right;
    }
  }
}

/* Navbar Toggle
------------------------------ */
.s-header-v3__toggle {
  @include position(relative);
  display: none;
  float: right;
  background: transparent;
  border: none;
  outline: none;
  line-height: 4.3rem;
  padding: .5625rem .3125rem .5625rem .625rem;
  margin: 0;

  &-icon-bar {
    @include position(relative);
    @include size(1.315rem, .0625rem);
    display: inline-block;
    @include cubic-transition($delay: 0, $duration: 300ms, $property: (all));

    @include plain-before-after {
      background: $color-dark-1;
    }

    @include before-after {
      @include position(absolute, $left: 0);
      content: " ";
      @include cubic-transition($delay: 0, $duration: 300ms, $property: (all));
    }

    @include before {
      @include size(.625rem, .0625rem);
      bottom: .625rem;
    }
    
    @include after {
      @include size(1rem, .0625rem);
      top: -.3125rem;
    }
  }

  @include hover {
    .s-header-v3__toggle-icon-bar {
      @include before-after {
        @include size(1.315rem, .0625rem);
      }
    }
  }

  @include media-breakpoint-down(md) {
    display: block;
  }
}

/* Logo
------------------------------ */
.s-header-v3__logo {
  @include size(100%, auto);
  float: left;

  &-link {
    display: inline-block;
    padding: 1.15rem 1.25rem 1.15rem 0;
    @include cubic-transition($delay: 0, $duration: 300ms, $property: (all));

    @include hover-focus {
      text-decoration: none;
    }
  }
  
  &-img {
    display: inline-block;
  }

  @include media-breakpoint-down(md) {
    @include size(auto);
    float: left;

    &-link {
      padding-right: .625rem;
    }
  }
}

/* Collapse
------------------------------ */
.s-header-v3__navbar-collapse {
  @include media-breakpoint-down(md) {
    width: 100%;
    padding: 0 !important;
  }

  &.collapse {
    @include media-breakpoint-down(md) {
      display: none !important;

      &.in {
        display: block !important;
        max-height: 31.25rem;
        overflow-y: auto !important;
      }
    }
  }
}

/* Nav Menu
------------------------------ */
.s-header-v3__nav {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  @include clearfix;

  @include media-breakpoint-down(md) {
		background: $color-white;
    padding: 1.25rem 0;

    @include first-child {
			border-bottom: .0625rem solid darken($color-sky-light, 5%);
    }
  }
}

/* Nav Menu Variations */
.s-header-v3__nav {
	&--left {
	  @include media-breakpoint-up(lg) {
			float: left;
		}
	}
	
	&--right {
	  @include media-breakpoint-up(lg) {
			float: right;
		}
	}
}

.s-header-v3__nav {
  &-item {
    @include position(relative);
    display: block;
    float: left;

    @include last-child {
      .s-header-v3__nav-link {
        margin-right: 0;
      }
    }

    @include media-breakpoint-down(md) {
      float: none;
    }

    .dropdown-backdrop {
      @include position(relative);
    }
  }

  &-link {
    @include position(relative);
    display: inline-block;
    @include font($size: $font-size-12, $weight: 400, $family: $font-family-open-sans);
    color: $color-dark-1;
    line-height: 6rem;
    letter-spacing: .0625rem;
    text-transform: uppercase;
    margin: 0 .9rem;
    @include cubic-transition($delay: 0, $duration: 300ms, $property: (all));

    @include hover-focus {
  		color: $color-gold;
  	}

    &.-is-active {
	  	color: $color-gold;
	  }

    @include media-breakpoint-down(md) {
      line-height: $line-height;
      margin: .625rem 0;
    }
  }
}

/* Hover Effect */
.s-header-v3__nav-link-hover {
	@include media-breakpoint-up(lg) {
		@include position(relative);
		display: inline-block;

		@include before {
			@include position(absolute, $top: 0, $right: 0);
			@include size(0, .125rem);
			background: $color-gold;
			content: " ";
			@include cubic-transition($delay: 0, $duration: 300ms, $property: (all));
		}

		@include hover {
			@include before {
				width: 100%;
				left: 0;
			}
		}

		&.-is-active {
	  	@include before {
				width: 100%;
				background: $color-gold;
			}
	  }
	}
}

/* Dropdown
------------------------------ */
.open > .s-header-v3__dropdown-menu {
  display: block;
}

.s-header-v3__dropdown-menu {
  @include position(absolute, $top: 100%, $left: 0);
  z-index: 1000;
  display: none;
  float: left;
  @include font($size: $font-size-13);
  min-width: 13.750rem;
  background: $color-dark-1;
  box-shadow: none;
  padding: .9375rem 0;
  margin-top: 0;
  list-style: none;
  opacity: 0;
  visibility: hidden;
  @include translate3d(0,.5rem,0);
  @include cubic-transition($delay: 0, $duration: 250ms, $property: (all));

  @include media-breakpoint-up(lg) {
    display: block;
  }

  @include media-breakpoint-down(md) {
  	@include position(static);
  	float: none;
    box-shadow: none;
    opacity: 1;
    visibility: visible;
    @include translate3d(0,0,0);
  }

  @include hover-focus {
  	.s-header-v3__dropdown-menu-link {
    	background: transparent;
  	}
  }

  &-link {
    display: block;
    @include font($size: $font-size-12, $weight: 400, $family: $font-family-open-sans);
    color: $color-white;
    clear: both;
    white-space: nowrap;
    padding: .4375rem 2rem .4375rem 1.375rem;
    text-transform: uppercase;
    @include cubic-transition($delay: 0, $duration: 300ms, $property: (all));
    
    @include hover {
	    color: $color-gold;
      padding-left: 1.6875rem;
    }

	  &.-is-active {
	  	color: $color-gold;
	  }
  }
}

/* Variations */
.s-header-v3__dropdown-menu--right {
	left: auto;
	right: 0;
}

/* Dropdown Menu Open On Hover
------------------------------ */
.s-header-v3__dropdown-on-hover {
  @include media-breakpoint-up(lg) {
    @include hover {
      > .s-header-v3__dropdown-menu {
        opacity: 1;
        visibility: visible;
        @include translate3d(0,0,0);
      }
    }
  }
}

/* Auto Hiding Navbar
------------------------------ */
.s-header-v3__auto-hiding {
  @include cubic-transition($delay: 0, $duration: 400ms, $property: (all));

  &.s-header__nav-up {
    @include translate3d(0,-100%,0);
  }
}

/* Shrink
------------------------------ */
@include media-breakpoint-up(lg) {
	.s-header__shrink {
	  .s-header-v3__navbar {
	    box-shadow: 0 0 .9375rem .25rem rgba($color-dark-1, .05);
	  }
	}
}