<div id="js__page-loader" class="center-block s-page-loader-v1 g-text-center">
  <div id="js__page-loader__content">
    <div class="g-text-center g-ver-center">
      <div class="g-overflow--hidden">
        <div class="s-page-loader-v1__element">
          <span class="s-page-loader-v1__loading g-font-size-32 g-color--white g-letter-spacing--3">Loading</span>
          <span class="s-page-loader-v1__loading-pulse-1"></span>
          <span class="s-page-loader-v1__loading-pulse-2"></span>
          <span class="s-page-loader-v1__loading-pulse-3"></span>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="g-position--relative g-fullheight g-bg-color--powderblue-to-mediumpurple-ltr">
  <div class="container g-ver-center">
    <div class="row g-margin-t-80 g-margin-t-0--sm">
      <div class="col-md-5 g-margin-b-40 g-margin-b-0--lg">
        <div class="g-reveal-fade-in-up js__reveal-animation" data-wow-duration="1s">
          <h1 class="g-font-size-38 g-font-size-50--sm g-font-size-70--md g-font-weight--700 g-color--yellow">Luxembourg's<br />International <br /> Latin <br /> Boogie!</h1>
        </div>
      </div>
      <div class="col-md-1">

      </div>
      <div class="col-md-5">
        <div class="g-margin-b-30 g-margin-b-50--sm">
          <div class="g-reveal-fade-in-up js__reveal-animation" data-wow-duration="1s" data-wow-delay=".2s">
            <p class="g-font-size-16 g-font-size-18--sm g-color--white g-line-height--lg">
              Welcome to the new salsa parties in Luxembourg!! <br />
              We'll be offering an unique chance every month to dance with reknown and highly talented instructors, performers and dj's!
              Our goal is to bring something refreshing here by introducing every month one or two couple of talented dancers.<br />
              We guarantee the BEST MUSIC, bringing you the best social tunes and some delightful latin records.
              Join us now! and book your ticket online to get the discounted prices!!!<br />
              SEE YOU ON THE DANCE FLOOR!
            </p>
            <%= link_to "GET TICKETS NOW", tickets_path, class:"s-btn-v1 s-btn-v1--primary-bg g-box-shadow__primary-v3 g-font-size-11 g-font-weight--500 g-font-family--primary g-radius--50 g-padding-x-20  g-padding-y-9" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="g-reveal-fade-in js__reveal-animation" data-wow-duration="1s" data-wow-delay="1s">
    <a href="#js__scroll-to-section" class="g-display-none g-display-block--sm">
      <span class="s-scroll-to-section-v1--bc s-icon-v1 s-icon-v1--white-brd s-icon-v1--white-brd-after g-width-50 g-height-50 g-font-size-17 g-radius--circle g-padding-x-12 g-padding-y-12 fa fa-angle-down"></span>
    </a>
  </div>
</section>
<div id="js__scroll-to-section" class="g-container--md g-padding-y-80 g-padding-y-70--sm">
  <div class="g-text-center g-margin-b-40">
    <h2 class="g-font-size-36 g-font-size-40--sm">Get ready to PARTY!!!</h2>
    <p>The most ambitious salsa parties in Luxembourg!</p>
    <%= link_to "GET TICKETS NOW", tickets_path, class:"s-btn-v1 s-btn-v1--primary-bg g-box-shadow__primary-v3 g-font-size-11 g-font-weight--500 g-font-family--primary g-radius--50 g-padding-x-20  g-padding-y-9" %>
  </div>
</div>
<!-- End Testimonials -->
<div class="s-promo-block--v2 g-bg-position--center js__fullwidth-img" style="background-image: url(&quot;img/1920x1080/01.jpg&quot;);">
      <img src="/img/LatinBoogieFBcover.png" alt="Promo Image" style="display: none;">
      <div class="g-container--md">
        <div class="g-padding-y-80 g-padding-y-100--sm">
          <div class="g-text-center g-margin-t-40 g-margin-t-70--sm">
            <h2 class="g-font-size-36 g-font-size-40--sm g-color--white">&nbsp;<%= "" %></h2>
            <p class="g-color--white-opacity">&nbsp;<%= "" %></p>
          </div>
        </div>
        <div class="s-video-popup-v1 g-margin-b-40">
          <a class="js__popup__youtube" href="https://www.youtube.com/watch?v=-v8HyF0EANE" title="Intro Video">
          <span class="s-icon-v1 s-icon-v1--primary-bg s-icon-v1--primary-bg-after g-width-50 g-height-50 g-radius--circle g-font-size-14 g-padding-x-12 g-padding-y-14 fa fa-play"></span>
          </a>
        </div>
      </div>
    </div>
    <div class="container g-padding-y-80 g-padding-y-100--sm">
      <div class="g-text-center g-margin-b-60">        
        <p>&nbsp;</p>
      </div>

    </div>
