/*----------------------------------
  Form Input v1
------------------------------------*/

.s-form-input-v1 {
	@include position(relative);
	z-index: 1;
	display: inline-block;
	width: 100%;
	overflow: hidden;
	
	&__field {
		height: 3.15rem;
		@include font($size: $font-size-14);
		color: $color-text-1;
		@include placeholder($color-text-1);
		background: $color-white;
		border: .11rem solid rgba($color-text-1, .4);
		box-shadow: none;
		padding: .4375rem 1.5rem;

		@include focus {
			background: $color-white;
			border-color: $color-primary;
			box-shadow: none;
			color: $color-text-1;
			@include placeholder($color-text-1);

			~ .s-form-input-v1__label {
				@include font($size: $font-size-11);
				color: $color-primary;
				@include animation-delay(.15s);
				@include translate3d(1.3rem,0,0);
			}
		}
	}

	&__label {
		@include position(absolute, $top: 0, $left: 0);
		@include font($size: $font-size-14, $weight: 400);
		color: $color-text-1;
		pointer-events: none;
		padding: .15rem .25rem;
		margin-bottom: 0;
		@include translate3d(1.3rem,.875rem,0);
		@include transition(all .3s);
		-webkit-touch-callout: none;
		@include user-select(none);
	}

	.-is-active {
		~ .s-form-input-v1__label {
			@include font($size: $font-size-11);
			color: $color-primary;
			@include animation-delay(.15s);
			@include translate3d(1.3rem,0,0);
		}
	}
}

/* Error Message */
.s-form-input-v1 {
	label.error {
		@include font($size: $font-size-12, $style: italic);
		color: $color-red;
		padding-left: 1.5rem;
	}
}

.input-group {
	.s-form-input-v1__field {
		@include position(static);
	}
}