/*----------------------------------
  Video Popup v1
------------------------------------*/

.s-video-popup-v1 {
  width: 3.125rem;
  z-index: 1;
  text-align: center;
  display: block;
  margin: 0 auto;
}