<div id="js__page-loader" class="center-block s-page-loader-v1 g-text-center">
  <div id="js__page-loader__content">
    <div class="g-text-center g-ver-center">
      <div class="g-overflow--hidden">
        <div class="s-page-loader-v1__element">
          <span class="s-page-loader-v1__loading g-font-size-32 g-color--white g-letter-spacing--3">Loading</span>
          <span class="s-page-loader-v1__loading-pulse-1"></span>
          <span class="s-page-loader-v1__loading-pulse-2"></span>
          <span class="s-page-loader-v1__loading-pulse-3"></span>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="g-bg-color--primary">
  <div class="g-container--md g-padding-y-100 g-padding-y-150--sm">
    <div class="g-text-center g-margin-t-80 g-margin-t-30--sm">
      <h1 class="g-font-size-50 g-font-size-70--md g-font-weight--500 g-color--yellow g-margin-b-0">FOBIA <br />8, rue de l'étang, 5326 Contern <br /></h1>
    </div>
  </div>
</section>
<div class="g-bg-color--sky-dark">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2586.0973728674776!2d6.217103515760764!3d49.59591317936656!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47954687ff973939%3A0x22a9baf81527f827!2sRestaurant-Pizzeria+Fobia!5e0!3m2!1sfr!2slu!4v1487021112509" width="100%" height="550" frameborder="0" style="border:0" allowfullscreen></iframe>  
</div>
